@import "foundation/settings";
/*
    ACCORDION.CSS

    - updated: 09.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Tile
//-----------------------------------------------------------------

/* What gives, Webkit?! */
.lv-super .accordion,
.lv-super .accordion *,
.lv-super .accordion a,
.lv-super .tabs-content .content,
.lv-super .tabs a,
.lv-super .tabs *,
.lv-super {
    outline: none !important;
}

//=========================================
// Accordion Module
//=========================================

.accordion,
.accordion .content {
    margin-bottom: 0;
}

.accordion-navigation {
    padding-bottom: 6px;
}

.accordion-navigation > a {
    position: relative;
    padding-right: rem-calc(42);
}

.accordion-navigation .icon {
    position: absolute;
    top: 50%;
    right: rem-calc(15);
    font-size: rem-calc(34);
    line-height: 0;
    color: $dark-grey;
}

//=========================================
// Up / Down Arrows
//=========================================

/* Up/Down Arrows */
.accordion-navigation.active .fa-angle-down {
    display: none;
}

.accordion-navigation.active .fa-angle-up {
    display: block;
    // top: 45%;
}

.accordion-navigation .fa-angle-up {
    display: none;
}

//=========================================
// Sidebar Context (generally smaller)
//=========================================

.sidebar .accordion .content {
    margin-bottom: 1px;
}

.sidebar .accordion-navigation {
    padding-bottom: 0;
}

.sidebar .accordion-navigation > a {
    position: relative;
    margin-bottom: 1px;
    padding: rem-calc(8 42 8 15);
    font-size: rem-calc(14);
}

.sidebar .accordion-navigation .icon {
    font-size: rem-calc(20);
}
