@import "foundation/settings";
@import "mixins";
/*
    HEADER.CSS

    - updated: 03.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$header-height: rem-calc(140);
$header-height-medium: rem-calc(160);
$header-height-large: rem-calc(230);

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
    position: relative;
    height: $header-height;
    padding: rem-calc(20 0);

    @media #{$medium-up} {
        height: $header-height-medium;
        padding: 0;
    }

    @media #{$large-up} {
        height: $header-height-large;
    }

    .logo {
        position: relative;
        top: rem-calc(5);

        img {
            width: rem-calc(160);

            @media #{$medium-up} {
                width: rem-calc(186);
            }

            @media #{$large-up} {
                width: rem-calc(199);
            }
        }

        @media #{$medium-up} {
            top: rem-calc(30);
        }
        @media #{$large-up} {
            top: rem-calc(77); // magic number - line up with topbar
        }
    }
}
//=========================================
// Phone
//=========================================

.header .phone {
    position: relative;
    top: rem-calc(20);
    color: #626161;

    i {
        position: absolute;
        top: rem-calc(10);
        left: rem-calc(-25);
        font-size: rem-calc(42);
        line-height: 0;
    }
}

//=========================================
// Hamburger
//=========================================

.header-mobile-menu .hamburger {
    @include hamburger($width: 26px, $thickness: 5px, $color: black);

    top: rem-calc(-26); // magic
    right: 15px;
    cursor: pointer;

    @media #{$medium-up} {
        top: rem-calc(120);
    }
}