@import "foundation/settings";
/*
    SOCIAL-NETWORKS.CSS

    - updated: 03.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.footer .social-networks {
    margin-bottom: rem-calc(15);
}

.footer .social-networks a {

    display: block;
    width: rem-calc(30);
    height: rem-calc(30);
    font-size: rem-calc(22);
    line-height: rem-calc(30);
    text-align: center;
    background: #484848;

    i {
        color: white;
    }
}

// Hovers
.no-touch .footer .social-networks a:hover {
    background: $primary-color;
}

//-----------------------------------------------------------------
// Add This Plugin
//-----------------------------------------------------------------

.addthis_toolbox > a {
    line-height: rem-calc(18) !important;
    height: rem-calc(24) !important;
    margin-bottom: rem-calc(5) !important;
}

.addthis_toolbox a.addthis_button_facebook_like,
.addthis_toolbox a.addthis_button_linkedin_counter {
    margin-right: rem-calc(20);
}

.disclaimer-box a {
    color: #999;
}