---
layout: internal
---

{% assign blog = site.pages | where: "type", "blog_item" %}

<div class="row outer-row">
	<div class="large-8 columns">

		<!-- News Articles -->
		{% for item in blog %}
			{% include media_article.html %}
			<hr>
		{% endfor %}

		<!-- Pagination Controls -->
		{% include snippets/pagination.html %}

	</div> <!-- .columns -->

	<!-- SIDEBAR -->
	<div class="large-4 columns">
		<aside class="sidebar is-slim">

			<!-- Template Text -->
			<div class="section">
				<p>In this section you will find regular and interesting articles on topical issues and relevant changes in the legal world from commercial and business topics, through to specific issues with family law legislation, a variety of personal injury law articles and your rights with criminal law matters, just to name a few.</p>
				<p> If you would like us to prepare an article on a very specific topic within an area of practice, please email your request to <a href="mailto:marketing@andersons.com.au">marketing@andersons.com.au</a></p>
			</div>

			<!-- LawTalk Categories -->
			<div class="side-box">
				{% include blog_categories.html %}
			</div>

			<!-- Blog Archive -->
			<div class="side-box">
				{% include blog_archive.html %}
			</div>
		</aside>
	</div>

</div> <!-- .outer-row -->