---
layout: internal
side_nav_top_level_id: 5
child_page: true
---

{% assign settings = site.data.settings %}
{% assign office_map_image = "/img/content/newofficefranklinstreet.jpg" %}

<!-- SEO Request -->
<div itemscope itemtype="http://schema.org/Organization">

    <!-- Header -->
    <div class="section" itemprop="name">
        <div class="row outer-row">
            <div class="columns">
                <h1>Andersons Solicitors Adelaide</h1>
            </div>
        </div>
    </div>

    <!-- Address -->
    <div class="row outer-row">
        <div class="large-8 columns">

            <div class="section">
                <div class="row">
                    <div class="medium-5 columns">
                        <div class="icon-list" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <ul class="no-bullet">
                                <li>
                                    <i class="icon fa fa-map-marker"></i>
                                    <span itemprop="streetAddress">{{ "69 Franklin St" }} </span><br>
                                    <span itemprop="addressLocality">{{ "Adelaide" }}</span>,
                                    <span itemprop="addressRegion">{{ "South Australia" }} </span>
                                    <span itemprop="postalCode">{{ "5000" }} </span><br>
                                    <a target="_blank" href="{{ settings.google_map }}">View Map&nbsp;<i class="fa fa-angle-right"></i></a>
                                </li>
                                <li>
                                    <i class="icon fa fa-phone"></i>
                                    <span itemprop="telephone">{{ settings.phone }}</span>
                                </li>
                                <li>
                                    <i class="icon fa fa-fax"></i>
                                    <span itemprop="fax">{{ settings.fax }}</span>
                                </li>
                                <li>
                                    <i class="icon fa fa-envelope"></i>
                                    <span itemprop="email"><a href="#">{{ settings.email }}</a></span>
                                </li>
                            </ul>
                        </div> <!-- .itemprop -->
                    </div> <!-- .columns -->
                    <div class="medium-7 columns">
                        <a target="_blank" href="{{ settings.google_map }}"><img width="100%" src="{{ office_map_image }}" alt="Office Map"></a>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .section -->

            <!-- Office Directions Accordion -->
            {% include snippets/accordion.html data=site.data.office_directions %}

            <br>

            <!-- Contact Form: Pass title to it -->
            {% include snippets/simple_form_traditional.html title="Contact us by email" %}

        </div> <!-- .columns -->

        <!-- SIDEBAR -->
        <div class="large-4 columns">
            <aside class="sidebar">
                {% include snippets/side_nav.html exclude_top_level=true %}
            </aside>
        </div>

    </div> <!-- .row -->
</div> <!-- .itemscope -->