---
layout: internal
hero_header_override: News
---

<!-- Header -->
<div class="section">
    <div class="row outer-row">
        <div class="columns">
            <h1>{{ page.title }}</h1>
            <h3 class="subheader"><i class="fa fa-calendar-o"></i>&nbsp; {{ page.date | date: "%A %d %b %Y" }}</h3>
        </div>
    </div>
</div>

<div class="row outer-row">

    <div class="large-8 columns">
        {{ content }}
    </div> <!-- .columns -->

    <!-- SIDEBAR -->
    <div class="large-4 columns">
        <aside class="sidebar">
            {% include snippets/side_nav.html %}
        </aside>
    </div>

</div> <!-- .outer-row -->