---
layout: internal
side_nav_top_level_id: 3
hero_header_override: Our People
---

{% assign people_array = site.data.people %}

<div itemscope itemtype="http://schema.org/Person">

    <!-- Header -->
    <div class="section">
        <div class="row outer-row">
            <div class="columns">
                <h1 itemprop="name">{{ page.title }}</h1>
                <h2 class="subheader" itemprop="jobtitle">{{ "Partner" }}</h2>
            </div>
        </div>
    </div>

    <!-- Profile -->
    <div class="row outer-row">
        <div class="large-4 columns">

            <div class="section contact-section">

                <img width="100%" src="http://lorempixel.com/332/250/people?{{forloop.index}}" itemprop="image" alt="...">

                <div class="contact-box">
                    <!-- <div itemscope itemtype="http://schema.org/Organization"><span itemprop="name">Andersons Solicitors</span></div> -->
                    <i class="fa fa-envelope"></i>&nbsp; <span itemprop="email"><a href="mailto:felix@andersons.com.au">felix@andersons.com.au</a></span><br>
                    <i class="fa fa-phone"></i>&nbsp; <span itemprop="telephone">08 8447 4911</span><br>
                    <i class="fa fa-fax"></i>&nbsp; <span itemprop="fax">08 8447 6284</span><br>
                    <i class="fa fa-list-alt"></i>&nbsp; <a href="button">Download vCard <i class="fa fa-angle-right"></i></a>
                </div>

                <a href="#" class="button expand grey-button blog-button">See Blog Posts by {{ "Felix "}}</a>
                <a href="#" class="button expand grey-button video-button">Video - Meet Felix Hoelscher</a>

            </div> <!-- .contact-section -->

        </div> <!-- .columns -->
        <div class="large-5 columns">

            {{ content }}

            <br>

        </div>
        <div class="large-3 columns">
            <aside class="sidebar">
                <div class="side-box">

                    <h3><i class="fa fa-users"></i>&nbsp; Browse our People</h3>
                    <ul>
                        {% for item in people_array %}
                        <li><a href="/our-people/person/">{{ item.title }} <i class="fa fa-angle-right"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>

</div> <!-- itemscope -->