---
layout: internal
side_nav_top_level_id: 3
hero_header_override: Our People
child_page: true
---

{% assign people_array = site.data.people %}
{% assign stubbed_image_url = "http://placehold.it/332x250" %}

<div itemscope itemtype="http://schema.org/Person">

    <!-- Header -->
    <div class="section">
        <div class="row outer-row">
            <div class="columns">
                <h1 class="no-margin" itemprop="name">{{ page.title }}</h1>
                <h2 class="subheader" itemprop="jobtitle">{{ "Partner" }}</h2>
            </div>
        </div>
    </div>

    <!-- Profile -->
    <div class="row outer-row">
        <div class="medium-6 large-4 columns">

            <div class="section contact-section">

                <img width="100%" src="{{ stubbed_image_url }}" itemprop="image" alt="...">

                <div class="contact-box">
                    <!-- <div itemscope itemtype="http://schema.org/Organization"><span itemprop="name">Andersons Solicitors</span></div> -->
                    <i class="fa fa-envelope"></i>&nbsp; <span itemprop="email"><a href="mailto:{{"felix@andersons.com.au"}}">{{ "felix@andersons.com.au" }}</a></span><br>
                    <i class="fa fa-phone"></i>&nbsp; <span itemprop="telephone">{{ "08 8447 4911" }}</span><br>
                    <i class="fa fa-fax"></i>&nbsp; <span itemprop="fax">{{ "08 8447 6284" }}</span><br>
                    <i class="fa fa-list-alt"></i>&nbsp; <a href="button">Download vCard <i class="fa fa-angle-right"></i></a>
                </div>

                <a href="#url-here" class="button expand small grey-button blog-button">See Blog Posts by {{ "Felix "}}</a>
                <a href="#url-here" class="button expand small grey-button video-button">Video - Meet Felix Hoelscher</a>

            </div> <!-- .contact-section -->

        </div> <!-- .columns -->
        <div class="medium-6 large-5 columns">

            <!-- Specialties -->
            <div class="section">
                <h3 class="underline">{{ "Felix" }} Specialises in</h3>

                <!-- wysiwyg -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur vitae eius aliquid dolorem repellat quae voluptatem perferendis iste minima iure quaerat cumque illo nisi molestiae, eaque similique. Deserunt, vitae, incidunt.</p>
            </div> <!-- .section -->

            <!-- About Person -->
            <div class="section">
                <h3 class="underline">About {{ "Felix" }}</h3>

                <!-- wysiwyg -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates cum vitae vero quasi ipsum aspernatur est nobis, debitis totam nisi, id doloremque tenetur aliquid odio deleniti architecto error temporibus</p>
            </div> <!-- .section -->

            <br>
        </div>

        <!-- SIDEBAR -->
        <div class="large-3 columns">
            <aside class="sidebar">
                <div class="side-box">
                    {% include browse_people_sidebar.html %}
                </div>
            </aside>
        </div>

    </div> <!-- .outer-row -->
</div> <!-- itemscope -->