---
layout: internal
side_nav_top_level_id: 3
side_nav_second_level_id: 2
hero_header_override: Areas of Practice
---

{% assign settings = site.data.settings %}
{% assign sub_level = site.data.sitemap[3].children[1].children %}
{% assign people = site.data.people %}

<div class="section">
	<div class="row outer-row">
		<div class="columns">
			<h1>{{ page.title }}</h1>
		</div>
	</div> <!-- .outer-row -->
</div> <!-- .section -->

<div class="row outer-row">
	<div class="large-8 columns">

		<!-- IF THERE ARE DOWNLOAD ITEMS - ADHOC EXAMPLE -->
		<div class="section">
			{% for i in (1..2) %}
				<a href="#" target="_blank" class="button grey-button download-button expand">Download our personal injury service guide</a>
			{% endfor %}
		</div>

		<!-- Image & Content -->
		<div class="section">
			<div class="right image-right">
				<img width="380" src="http://placehold.it/380x253/" alt="...">
				<p><a href="#" class="button grey-button blog-button expand">Personal Injury Blog Articles</a></p>
			</div>
			{{ content }}
		</div> <!-- .section -->

		<!-- Second Level -->
		{% for item in sub_level %}
			<a href="#" class="button grey-button expand">{{ item.title }}</a>
		{% endfor %}

		<hr>

		<div class="row collapse">
			<div class="medium-9 columns">
				<h4><i class="fa fa-users"></i>&nbsp; Meet some of our personal injury team members</h4>
			</div>
			<div class="medium-3 columns">
				<a href="#" class="micro-button more-team-listing right button tiny">See More <i class="fa fa-angle-up fa-angle-down"></i></a>
			</div>
		</div>

		<br>

		<div class="team-listing">
			<ul class="small-block-grid-1 medium-block-grid-4">
				{% for person in people %}
					<li>
						<!-- IMPORTANT: Take notice of loop logic below -->
						<a href="/our-people/person/" class="{% if forloop.index > 4 %}excess hide{% endif %}">
							<img class="img" width="50" src="http://placehold.it/332x250" alt="...">
							<span class="text">{{ person.title }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div> <!-- .team-listing -->

	</div> <!-- .columns -->

	<!-- SIDEBAR -->
	<div class="large-4 columns">
		<aside class="sidebar">
			{% include snippets/side_nav.html %}
		</aside>
	</div>

</div> <!-- .outer-row -->