---
layout: internal
side_nav_top_level_id: 3
side_nav_second_level_id: 2
side_nav_third_level_id: 1
hero_header_override: Areas of Practice
child_page: true
---

{% assign settings = site.data.settings %}
{% assign accordion = site.data.accordion %}

<div class="section">
	<div class="row outer-row">
		<div class="columns">
			<h1 class="no-margin">Motor Vehicle Accidents</h1>
			<h2 class="subheader">{{ page.title }}</h2>
		</div>
	</div> <!-- .outer-row -->
</div>

<div class="row outer-row section">
	<div class="large-8 columns">

		<!-- IF THERE ARE DOWNLOAD ITEMS - ADHOC EXAMPLE -->
		<div class="section">
			{% for i in (1..1) %}
				<a target="_blank" href="#" class="button grey-button download-button expand">Download our guide: Injured in a motor vehicle accident prior to 1 July 2013</a>
			{% endfor %}
		</div>

		<div class="section">
			{{ content }}
		</div>

		<div class="section">
			{% include snippets/accordion.html data=site.data.faqs %}
		</div>

	</div> <!-- .columns -->

	<!-- SIDEBAR -->
	<div class="large-4 columns">
		<aside class="sidebar">
			{% include snippets/side_nav.html %}
		</aside>
	</div>

</div> <!-- .outer-row -->