<div class="footer-top">
    <div class="row outer-row">
        <div class="medium-8 columns">
            <div class="row">
                <div class="medium-4 columns">
                   <p>Contact your nearest office:</p>
                </div>
                <div class="medium-8 large-6 end columns">
                    <ul class="small-block-grid-2 office-links">
                        <li><a href="#"><i class="fa fa-map-marker"></i>&nbsp; Adelaide</a></li>
                        <li><a href="#"><i class="fa fa-map-marker">&nbsp</i>&nbsp; Murray Bridge</a></li>
                        <li><a href="#"><i class="fa fa-map-marker">&nbsp</i>&nbsp; Morphett Vale</a></li>
                        <li><a href="#"><i class="fa fa-map-marker">&nbsp</i>&nbsp; Port Adelaide</a></li>
                    </ul>
                    <br>
                </div>
            </div>

        </div>
        <div class="medium-4 columns">
            <ul class="social-networks lv-inline-list text-center medium-text-right">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<section class="footer-middle">
    <div class="row outer-row">
        <div class="medium-6 medium-push-6 columns medium-text-right">
            <p><a href="#"><i class="fa fa-file"></i>&nbsp; DOWNLOAD OUR LEGAL SERVICES GUIDE &nbsp;<i class="fa fa-angle-right"></i></a></p>
        </div>
        <div class="medium-6 medium-pull-6 columns">
            <p><a class="greyed-link" href="#">About Andersons Solicitors &nbsp;<i class="fa fa-angle-down"></i></a></p>
        </div>
    </div>
</section>
<section class="footer-bottom">
    <div class="row outer-row">
        <div class="medium-6 medium-push-6 columns">
            <ul class="lv-inline-list medium-text-right">
                <li><a href="#">Links</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Disclaimer</a></li>
            </ul>
        </div>
        <div class="medium-6 medium-pull-6 columns">
            <a href="#">Site Map &nbsp;<i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <!-- Author Logo -->
    <div class="row outer-row">
        <div class="columns">
            <a class="author-logo text-center medium-text-right" href="http://www.muchmedia.com.au">
                <span class="text">Site by Much Media</span>&nbsp;
                <img width="15" src="/img/template/muchmedia-logo@2x.png" title="Much Media Freelance Web Design" alt="Much Media">
            </a>
        </div>
    </div>
</section>