{% assign sitemap = site.data.sitemap[3].children %}

<!-- Footer Contact -->
<section class="footer-contact fill-2">
    <div class="row outer-row">
        <div class="medium-8 columns">
            <div class="row">
                <div class="medium-4 columns">
                   <p>Contact your nearest office:</p>
                </div>
                <div class="medium-8 large-6 end columns">
                    <ul class="small-block-grid-2 office-links">
                        <li><a href="#"><i class="fa fa-map-marker"></i>&nbsp; Adelaide</a></li>
                        <li><a href="#"><i class="fa fa-map-marker">&nbsp</i>&nbsp; Murray Bridge</a></li>
                        <li><a href="#"><i class="fa fa-map-marker">&nbsp</i>&nbsp; Morphett Vale</a></li>
                        <li><a href="#"><i class="fa fa-map-marker">&nbsp</i>&nbsp; Port Adelaide</a></li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
        <div class="medium-4 columns">
            <ul class="social-networks lv-inline-list text-center medium-text-right">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer About -->
<section class="footer-about">
    <div class="row outer-row">
        <div class="medium-6 medium-push-6 columns medium-text-right">
            <p><a href="#"><i class="fa fa-file"></i>&nbsp; DOWNLOAD OUR LEGAL SERVICES GUIDE &nbsp;<i class="fa fa-angle-right"></i></a></p>
        </div>
        {% comment %} IMPORTANT: This link is hidden outside of home. Is still in template though. {% endcomment %}
        <div class="medium-6 medium-pull-6 columns {% unless page.url == '/' %} hide {% endunless %}">
            <p><a class="greyed-link content-drawer" href="#about-panel">About Andersons Solicitors &nbsp;<i class="fa fa-angle-up fa-angle-down"></i></a></p>
        </div>
    </div>
</section>

<!-- Footer About Contents -->
<section id="about-panel" class="footer-about-contents">
    <div class="inner">
        <div class="row outer-row">
            <div class="medium-6 columns">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, expedita, enim at iusto aliquid vero eum sint maiores reiciendis exercitationem placeat? Doloribus facere itaque, ducimus animi laborum perferendis officia obcaecati.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, temporibus illo! Voluptatem voluptatibus non excepturi officiis at. Eius atque quis praesentium quisquam debitis, voluptates! Pariatur reiciendis beatae optio porro qui!</p>
            </div>
            <div class="medium-6 columns">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, expedita, enim at iusto aliquid vero eum sint maiores reiciendis exercitationem placeat? Doloribus facere itaque, ducimus animi laborum perferendis officia obcaecati.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, temporibus illo! Voluptatem voluptatibus non excepturi officiis at. Eius atque quis praesentium quisquam debitis, voluptates! Pariatur reiciendis beatae optio porro qui!</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer Sitemap -->
<section class="footer-sitemap">
    <div class="row outer-row">
        <div class="medium-6 medium-push-6 columns">
            <ul class="lv-inline-list medium-text-right">
                <li><a href="#">Links</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Disclaimer</a></li>
            </ul>
        </div>
        <div class="medium-6 medium-pull-6 columns">
            <a class="content-drawer" href="#sitemap-panel">Site Map &nbsp;<i class="fa fa-angle-up fa-angle-down"></i></a>
        </div>
    </div>
</section>

<!-- Footer Sitemap Contents -->
<section id="sitemap-panel" class="footer-sitemap-contents">
    <div class="inner">
        <div class="row outer-row">
            <div class="columns">
                <ul class=" small-block-grid-1 medium-block-grid-3 large-block-grid-5">
                    {% for item in sitemap | limit: 5 %}
                    <li class="sitemap-header-line">
                        <h5>{{ item.title }}</h5>
                        <ul class="no-bullet">
                            {% for item in item.children %}
                            <li><a href="#">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer Legal -->
<section class="footer-legal">
    <div class="row outer-row">
        <div class="columns">
            <a class="author-logo text-center medium-text-right" href="http://www.muchmedia.com.au">
                <span class="text">Website by Much Media</span>&nbsp;
                <img width="20" src="/img/template/muchmedia-logo@2x.png" title="Much Media Freelance Web Design" alt="Much Media">
            </a>
        </div>
    </div>
</section>

