{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo.png" %}

<div class="row outer-row">
    <div class="medium-6 columns">
        <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
        <img width="199" src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo"></a>
    </div>
    <div class="medium-6 columns text-right">

        <!-- Phone -->
        <div class="show-for-medium-up">
            <a href="tel:{{ settings.phone }}" class="phone">
                <i class="fa fa-mobile fa-rotate-270"></i>&nbsp; FREE CALL {{ settings.phone }}
            </a>
        </div>

        <!-- Hamburger -->
        <a href="#" class="hamburger hide-for-large-up"><span class="hamburger-icon"></span></a>

    </div>
</div>
