<form class="sidebar-form" data-abide novalidate method="post" action="/">

	<!-- Name -->
	<div class="row">
		<div class="columns">
			<label>Name
				<input name="name" class="radius" type="text" placeholder="" required>
			</label>
			<small class="error">Your name is required.</small>
		</div>
	</div>

	<!-- Email -->
	<div class="row">
		<div class="columns">
			<label>Email
				<input name="email" class="radius" type="email" placeholder="" required>
			</label>
			<small class="error">A valid email address is required.</small>
		</div>
	</div>

	<!-- Phone -->
	<div class="row">
		<div class="columns">
			<label>Phone
				<input name="phone" class="radius" type="text" placeholder="" required>
			</label>
			<small class="error">Please try again.</small>
		</div>
	</div>

	<!-- Submit -->
	<div class="row">
		<div class="columns">
			<button type="submit" class="button">Send</button>
		</div>
	</div>

</form>