---
layout: internal
sidebar_id: 3
---

{% assign settings = site.data.settings %}
{% assign promo_practices = site.data.promo_practices %}

<!-- MAIN -->
<div class="columns">
    <main class="main">

        <div class="row">
        	<div class="medium-4 columns">
        		{{ content }}
        	</div>
        	<div class="medium-8 columns">
        		<aside class="sidebar">
        			<ul class="media-tiles media-tiles-light medium-block-grid-2">
                    	{% for item in (promo_practices) %}
                        <li>{% include media_tile_image.html %}</li>
                    	{% endfor %}
            		</ul>
                    <br>
            		<a href="#" class="button expand"><i class="fa fa-chevron-circle-down"></i> Download our 'What We Do' brochure for an overview of all our practice areas</a>
        		</aside>
        	</div>
        </div>

    </main> <!-- .main -->
</div> <!-- .columns -->