---
layout: master
---

{% assign settings = site.data.settings %}
{% assign promo_practices = site.data.promo_practices %}

<div class="homepage">

	<!-- HERO -->
	<div class="lv-hero">

		<!-- MAIN -->
		<main class="main">
			<div class="row outer-row">
				<div class="columns">

					<h2>I am looking for...</h2>

					<div class="row">

						<div class="large-9 columns">
							<ul class="media-tiles medium-block-grid-2">
				            	{% for item in (promo_practices) %}
				                <li>{% include media_tile_image.html %}</li>
				            	{% endfor %}
		            		</ul>
						</div> <!-- .large-9 -->

						<div class="large-3 columns collapse-left">
							{% include blog_panel.html %}
						</div> <!-- .large-3 -->

					</div> <!-- .row -->

				</div> <!-- .columns -->
			</div> <!-- .row -->
		</main>

	</div> <!-- .hero -->

</div> <!-- .homepage -->