---
layout: master
hero_link: /some-link-here/
---

{% assign settings = site.data.settings %}
{% assign promo_practices = site.data.promo_practices %}
<!-- { % assign services = site.pages | where: "categories", "service" % } -->

<div class="homepage">

	<!-- HERO -->
	<div class="lv-hero">

		<!-- MAIN -->
		<main class="main">
			<div class="row outer-row">
				<div class="columns">

					<h2>I am looking for...</h2>

					<div class="row" data-equalizer>
						<div class="medium-9 columns" data-equalizer-watch>
							<ul class="media-tiles medium-block-grid-2">
				            	{% for item in (promo_practices) %}
				                <li>{% include media_tile_image.html %}</li>
				            	{% endfor %}
		            		</ul>
						</div> <!-- .medium-8 -->
						<div class="medium-3 columns collapse-left" data-equalizer-watch>
							<div class="blog-panel">
								<div class="inner">
									<h3>LawTalk Blog <i class="fa fa-comment"></i></h3>

									{% for i in (1..3) %}
									<article class="blog-article">
										<a>What do Medicare and Centrelink have to do with my compensation claim? &nbsp;<i class="fa fa-angle-right"></i></a>
										<date>August, 2014</date>
									</article>
									{% endfor %}

								</div> <!-- .inner -->
								<a class="button expand text-right" href="#">More Blog Posts <i class="fa fa-angle-right"></i></a>
							</div>
						</div> <!-- .medium-4 -->
					</div> <!-- .row -->
				</div> <!-- .columns -->
			</div> <!-- .row -->
		</main>

	</div> <!-- .hero -->

</div> <!-- .homepage -->




