---
layout: master
---

<div class="internal">

    <!-- HERO -->
    <section class="lv-hero">
        <div class="lv-hero-header">
            <div class="row outer-row">
                <div class="columns">
                    <div class="animated fadeInLeft">
                        <h1>
                            {% if page.hero_header_override %}
                                {{ page.hero_header_override }}
                            {% else %}
                                {{ page.title }}
                            {% endif %}
                        </h1>
                    </div>
                </div> <!-- .columns -->
            </div> <!-- .row -->
        </div> <!-- .hero-header -->
    </section> <!-- .hero -->

    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row outer-row">
            <div class="columns">
                {% include breadcrumbs.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->
    </nav> <!-- .breadcrumbs-wrapper -->

    <!-- CONTENT -->
    <section class="content">
        <div class="row outer-row">
            {{ content }}
        </div> <!-- .row -->
    </section>

    <!-- Blog Panel -->
    <div class="blog-panel-wrapper">
        <div class="row">
            <div class="columns">
                <div class="blog-panel">
                    <div class="inner">
                        <h3><i class="fa fa-comment"></i> LawTalk Blog <a href="#">MORE BLOG POSTS <i class="fa fa-angle-right"></i></a></h3>

                        <ul class="medium-block-grid-3">
                            {% for i in (1..3) %}
                            <li>
                                <!-- TRUNCATION IS *VERY* IMPORTANT HERE -->
                                <article class="blog-article">
                                    <a>{{ "What do Medicare and Centrelink have to do with my compensation claim?" | truncate: 65 }} &nbsp;<i class="fa fa-angle-right"></i></a>
                                    <date>August, 2014</date>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>

                    </div> <!-- .inner -->
                    <a class="button expand text-right" href="#">More Blog Posts <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        </div> <!-- .blog-panel -->

</div> <!-- .internal -->