---
layout: master
---

<div class="internal">

    <!-- HERO -->
    <section class="lv-hero">
        <div class="lv-hero-header">
            <div class="row outer-row">
                <div class="columns">
                    <div class="animated fadeInLeft">

                    <!-- Third level pages will have H2s for SEO -->
                    {% if page.child_page %}
                        <h2>
                            {{ page.hero_header_override }}
                        </h2>
                    {% else %}
                        <h1>
                            {% if page.hero_header_override %}
                                {{ page.hero_header_override }}
                            {% else %}
                                {{ page.title }}
                            {% endif %}
                        </h1>
                    {% endif %}

                    </div>
                </div> <!-- .columns -->
            </div> <!-- .row -->
        </div> <!-- .lv-hero-header -->
    </section> <!-- .lv-hero -->

    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row outer-row">
            <div class="columns">
                {% include snippets/breadcrumbs.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->
    </nav> <!-- .breadcrumbs-bar -->

    <section class="section">
        {{ content }}
    </section>

    <!-- Blog Panel -->
    <section class="blog-section">
        <div class="row">
            <div class="columns">
                {% include blog_panel.html %}
            </div>
        </div>
    </section> <!-- .blog-section -->

</div> <!-- .internal -->