---
layout: internal
side_nav_id: 3
hero_header_override: Our People
---

<!-- MAIN -->
<div class="columns">
    <main class="main">

        <h1>{{ page.title }}</h1>

        <div class="row">
            <div class="medium-8 columns">
                <div class="row">
                    <div class="medium-3 columns">
                        <img width="100%" src="http://lorempixel.com/242/242/people?{{forloop.index}}" alt="...">
                    </div>
                    <div class="medium-9 columns">
                        <a href="/our-people/person/"><h5>Partner</h5></a>
                        <p>E: <a href="mailto:">{{ "bconnelly@andersons.com.au" }}</a><br>
                        P: {{ "08 8447 4911" }}<br>
                        F: {{ "08 8447 6284" }}
                        </p>
                        <a href="button">Download vCard</a>
                    </div>
                </div>

                {{ content }}

            </div> <!-- .columns -->

            <div class="medium-4 columns">
                <aside class="sidebar">
                    <div class="row">
                        <div class="large-10 large-offset-2 columns">
                            <h2><i class="fa fa-align-left"></i>&nbsp; {{ "Felix" }}'s practice areas</h2>
                            {% include snippets/side_nav.html exclude_top_level="true" %}
                            <div class="video">
                                <iframe width="100%" height="230" src="//www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <a href="#" class="button expand"><i class="fa fa-comment left"></i> See Blog Posts by {{"Felix"}} <i class="fa fa-angle-right right"></i></a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </main> <!-- .main -->
</div> <!-- .columns -->