/*
    LIQUIDVISUAL TOPBAR :: A Personal Framework

    - updated: 29.11.17, 09.12.14
    - liquidvisual.com

    - Notes -
    - Requires Modernizr
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

.topbar {
    width: 100%;
    text-align: right;
    z-index: 2;
}

.topbar ul {
    margin: 0;
    // font-size: rem-calc(17);
    font-size: rem-calc(16); // added 8.04.15

    @media #{$medium-up} {
        width: 100%;
    }
}

.topbar li {
    display: inline-block;
    position: relative;
}

.topbar a {
    display: block;
    padding: rem-calc(10 15);
    text-align: center;
    color: #404141;
    transition: all .2s linear;
}

.topbar a:active,
.topbar .active > a {
    background: #EFEEEE;
}

.no-touch .topbar a:hover {
    background: #DCDBDB;
}

//=========================================
// Nested Dropdowns
//=========================================

.topbar .has-dropdown:hover > a {
    background: #DCDBDB;
}

/* UX decision, dropdowns are fiddly on tablets */
.no-touch .topbar .has-dropdown:hover > .dropdown {
    opacity: 1;
    height: auto;
    overflow: visible;
}

.no-touch .topbar .dropdown .has-dropdown:hover > .dropdown {
    opacity: 1;
    height: auto;
}

.topbar .dropdown {
    transition: all .2s linear;
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    height: 0; // so hit areas aren't triggered
    overflow: hidden; // so hit areas aren't triggered
    top: 100%;
    left: auto;
    width: rem-calc(300);
    background: #DCDBDB;
    margin: 0;
}

.topbar > ul > li:last-child .dropdown {
    right: 0;
}

/* Third level nesting */
.topbar .dropdown .dropdown {
    position: absolute;
    top: 0;
    left: 100%;
}

.topbar .dropdown li {
    position: relative;
    float: none;
    display: block;
}

.topbar .dropdown a {
    border-top: 1px solid #D3D2D2;
    margin: 0;
    text-align: left;
    transition: none;
    font-size: rem-calc(16);
}

.topbar .dropdown li:last-child a {
    border-bottom: 0;
}

.topbar .dropdown a:hover {
    background: #BFBBBB;
    // color: white;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------