@import "foundation/settings";
/*
    BUTTONS.CSS

    - updated: 08.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Micro Button
//-----------------------------------------------------------------

.lv-super .micro-button {
    background: #EFEFEF;
    color: #222;
    text-transform: uppercase;
    padding: rem-calc(5);
    line-height: 0;

    &:hover {
        color: white;
    }
}

//-----------------------------------------------------------------
// Grey Buttons
//-----------------------------------------------------------------

.lv-super .grey-button {
    position: relative;
    text-align: left;
    padding: rem-calc(16 35 16 16);
    background: $mid-grey;
    color: $dark-grey;
    margin-bottom: rem-calc(8);

    &:hover {
        background: darken($mid-grey, 10%);
    }

    &:before,
    &:after {
        position: absolute;
        left: rem-calc(15);
        top: 50%;
        margin-top: rem-calc(-18);
        font-family: 'FontAwesome';
        font-size: rem-calc(34);
    }

    &:after {
        content: "\f105";
        left: auto;
        right: rem-calc(15);
    }
}

//=========================================
// Download Button
//=========================================

.lv-super .download-button {
    padding: rem-calc(16 35 16 60);

    &:before {
        content: "\f13a";
        margin-top: rem-calc(-17); // magic
        font-size: rem-calc(34);
        color: #2E2C2D;
    }
}

//=========================================
// Blog Button
//=========================================

.lv-super .blog-button {
    padding: rem-calc(16 35 16 60);

    &:before {
        content: "\f075";
        font-size: rem-calc(34);
        color: #2E2C2D;
    }
}

//=========================================
// Video Button
//=========================================

.lv-super .video-button {
    padding: rem-calc(16 35 16 60);

    &:before {
        content: "\f144";
        font-size: rem-calc(34);
        color: #2E2C2D;
    }
}


