@import "foundation/settings";
@import "foundation/components/block-grid";
@import "app/mixins";
/*
    MAIN.CSS

    - Last updated: 09.12.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$page-padding: rem-calc(40);
$vertical-spacing: rem-calc(20);
$dark-grey: #484848;
$mid-grey: #D8D5D5;
$light-grey: #F5F5F5;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
    @media #{$small-only} {
        font-size: 92%;
    }
}

//=========================================
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//
// Notes:
// 5.000em = 80 (page-padding * 2)
// Using EMs because media queries in Foundation do so
//=========================================

.row {
    @media (min-width: $medium-breakpoint)  { max-width: $medium-breakpoint + 5.000em; }
    @media (min-width: $large-breakpoint)   { max-width: $large-breakpoint  + 5.000em; }
    @media (min-width: $xlarge-breakpoint)  { max-width: $xlarge-breakpoint + 5.000em; }
    // @media (min-width: $xxlarge-breakpoint)  { max-width: $xxlarge-breakpoint + 5.000em; }
}

//Add side padding to the page above small
.outer-row {
    @media #{$medium-up} {
        padding-left: $page-padding - $column-gutter / 2;
        padding-right: $page-padding - $column-gutter / 2;
    }
}

// Ensure images scale to block grid LIs */
// ul[class*='block-grid'] li img {
//  width: 100%;
// }

// to close the gap on the promo-tiles and blog panel
.collapse-left {
    @media #{$large-up} {
        padding-left: 0;
    }
}

.collapse-right {
    @media #{$large-up} {
        padding-right: 0;
    }
}

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.navigation .topbar {
    @media #{$medium-up} {
        position: absolute;
        bottom: rem-calc(26);
    }
}

//-----------------------------------------------------------------
// Off Canvas Menu
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero {
    background-image: url(../img/content/bg.jpg);
    visibility: visible;
}

// Homepage
.homepage .lv-hero {
    padding: rem-calc(40 0);

    @media #{$large-up} {
        padding: rem-calc(64 0);
    }

    h4 {
        margin-bottom: rem-calc(30);
        font-weight: 600;
        color: white;
        font-size: rem-calc(25);

        @media #{$large-up} {
            font-size: rem-calc(33);
        }
    }
}

// Internal
.internal .lv-hero {
    min-height: rem-calc(170);

    .lv-hero-header h1,
    .lv-hero-header h2 {
        position: relative;
        top: rem-calc(90);
        color: white;
        font-size: $h1-font-size;
    }
}

//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.breadcrumbs-bar {
    background: $secondary-color;
    // margin-bottom: rem-calc(96);
    margin-bottom: rem-calc(40);

    .lv-breadcrumbs {
        margin-bottom: 0;
        border: 0;
        padding: rem-calc(11 0);

        li {
            text-transform: capitalize;
        }

        a {
            color: #888;
        }
    }
}

//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------

.content {
    margin-bottom: rem-calc(30);
}

.main img.right {
    margin: rem-calc(15 0 15 15);
}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.section {
    margin-bottom: rem-calc(34);
}

.contact-section {
    @media #{$large-up} {
        padding-right: rem-calc(20);
    }
}

//-----------------------------------------------------------------
// Tabs
//-----------------------------------------------------------------

.lv-super .tabs {
    position: relative;

    &:after {
        content: "";
        left: 0;
        width: 100%;
        height: 10px;
        background: #E5E5E5;
    }

    dd {
        @media #{$small-only} {
            display: table-cell;
            float: none;
            text-align: center;

            a {
                font-size: rem-calc(13);
                // padding: 0;
            }
        }
    }

    .active a {
        border-bottom-color: #E5E5E5;
    }

    a {

        border-right: 2px solid white;
        border-bottom: 2px solid white;
        border-top: 0;

        @media #{$large-up} {
            padding: rem-calc(12 220 12 12);
        }
    }
}

//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------

.media-block {
    img {
        padding-right: rem-calc(15);
        margin-bottom: rem-calc(30);

        @media #{$small-only} {
            padding: 0;
        }
    }
}

.icon-list ul {
    font-size: rem-calc(16);

    li {
        display: table;
        margin-bottom: rem-calc(12); // magic

        .icon {
            display: table-cell;
            font-size: rem-calc(18);
            color: #2A2829;
            padding-right: rem-calc(10);
        }
    }
}

.contact-box {
    background: $primary-color;
    padding: rem-calc(20 30);
    color: white;
    margin-bottom: rem-calc(8);

    a, i {
        color: white;
    }
}

.disclaimer-box {
    padding: rem-calc(20);
    border: 1px solid #DDDDDD;
    overflow: hidden;
    display: table;
    margin-bottom: rem-calc(20);

    i {
        display: block;
        font-size: rem-calc(30);
        display: table-cell;
        padding-right: rem-calc(15);
        vertical-align: top;
    }

    p {
        display: table-cell;
        vertical-align: top;
        color: #999;
    }
}

//=========================================
// Team Listing
//=========================================

.team-listing {

    @media #{$medium-up} {
        max-height: rem-calc(90);
    }

    @media #{$large-up} {
        max-height: rem-calc(60);
    }

    a {

        display: inline-block;
        color: $body-font-color;

        &.hide {
            display: none;
        }

        &:hover {
            color: $primary-color;
        }
    }

    .text {
       display: inline-block;
    }

    .img {
        float: left;
        margin: rem-calc(0 10 10 0);
    }
}

//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.sidebar {
    @media #{$xlarge-up} {
        padding-left: rem-calc(40);

        &.is-slim {
            padding-left: rem-calc(80);
        }
    }
}

.side-box {
    background: $light-grey;
    padding: rem-calc(20 25 25 25);
    margin-bottom: rem-calc(20);

    h3, h4, h5 {
        margin: rem-calc(0 0 20 0);
        font-weight: bold;
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            margin-bottom: rem-calc(10);
        }
    }

    a {
        color: $dark-grey;

        &:hover {
            color: $primary-color;
        }
    }
}

//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special / Misc - Refactor Later
//-----------------------------------------------------------------

.no-margin {
    margin: 0;
}

.side-box h4 {
    margin-bottom: rem-calc(16);
}

a {
    @include transition();
}

.image-right {
    margin: rem-calc(0 0 25 25);
    float: right;

    @media #{$small-only} {
        width: 100%;
    }
}

.footer .fa-angle-up,
.footer .fa-angle-down {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: rem-calc(25);
}

.greyed-link {
    color: $body-font-color;
    position: relative;
}

.media-link {
    word-break: break-all;
}

// For Headings
.underline {
    border-bottom: 1px solid #ddd;
    padding-bottom: rem-calc(15);
    margin-bottom: rem-calc(30);
}

//-----------------------------------------------------------------
// IE8
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

@import "app/accordion";
@import "app/buttons";
@import "app/header";
@import "app/media-block";
@import "app/media-tile";
@import "app/blog-panel";
@import "app/footer";
@import "app/side-nav";
@import "app/social-networks";

//=========================================
//
//=========================================